/*  ==========================
            VARIBLES
    ========================== */
// COLORS
$color-primary: #c6638c;
$color-primary-dark: #b25176;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #543a46;
$color-grey-dark-2: #6d4b64;

// FONTS
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
